

/* --------------------- content ----------------------------*/
#content {
    padding-top: 50px;
    background: #eee;
}

#chatContainer {
	/*height: 557px;*/
}

/*
.container {
    padding-top: 20px;
}
*/

.wrappers_height {
	height: 327px;
}


/*---------------------- singleplayer -------------------------*/

#singleplayer_left, #singleplayer_right, #text_singleplayer_left, #text_singleplayer_right {
	text-align: center;
}

#singleplayer_question , /*#text_singleplayer_question*/{
	background-color: #ddd;
}

#singleplayer_question p{
	text-align: center;
	border: 1px solid #cccccc;
	background-color: #cccccc;
	color: #111111;
	font-weight: 600;
	margin-top: 10px;
}

#text_singleplayer_question p {
	text-align: center;
	border: 1px solid #cccccc;
	/*background-color: #cccccc;*/
	color: #111111;
	font-weight: 300;
	font-size: 1.5em;
	margin-top: 10px;
}

#singleplayer_img_wrapper {
	width: 100%;
	height: 450px;
	border: 1px solid #dddddd;
	background-color: #dddddd;
}

#singleplayer_left, #text_singleplayer_left {
	margin-left:30px;
}

#singleplayer_right, #text_singleplayer_right {
	position: relative;
	overflow: auto;
	text-align: center;
	
}
/*---------------------- singleplayer end ---------------------*/



/*---------------------- statistics -------------------------*/
#statisticsContainer {
/*padding-top: 20px;*/
	height: 300px;
}


#statistics_list, #zavalinka_left {
	text-align: center;
	position: relative;
    overflow: auto;
	height: 200px;
}

#statisticsContainer a {
	color: #888;
}

#left_statistics_menu, #right_statistics_menu {
	text-align: center;
	position: relative;
	overflow: auto;
	height: 200px;
}

#left_statistics_menu table tr, #right_statistics_menu table tr {
	background: #ffffff;
	border: 4px solid #dddddd;
	/*font-size: 14px;*/
	
}


/*---------------------- statistics end -----------------------*/

#main {
    padding-top: 20px;
}

#question {
	overflow: auto;
	background: #dddddd;
}


#img_wrapper {
	width: 100%;
	height: 450px;
	border: 1px solid #dddddd;
	background-color: #dddddd;
}

img.demo{
	width:95%;
	/*max-height: 450px;*/
	border: 1px solid #ccc;
}

#question p {
	text-align: center;
	border: 1px solid #cccccc;
	background-color: #cccccc;
	color: #111111;
	font-weight: 600;
	margin-top: 0px;
}


#messages {
    padding-bottom: 10px;
	
}

#allmessages {
	/*max-height: 450px;*/
	height: 450px;
}

#allmessages li span {
	cursor: pointer;
}


#wrapper{
    /*height: 450px;*/
    overflow: auto;
    position: relative;
}

/*
#chat{
    position: absolute;
    bottom: 0;
}
*/

#LoginBar {
	text-align:center;
	font-size: 1.2em;
}

#users {
	/*height: 530px;*/
	/*border: 1px solid #ffffff;*/
	overflow: auto;
    position: relative;
}

#user_list {
	height: 280px;
	overflow: auto;
	position: relative;
	border: 1px solid #DDDDDD;
	background: #FFFFFF;
	/*max-height: 280px;*/
}

#top5_list {
	border: 1px solid #DDDDDD;
	text-align: center;
	/*если здесь сделать тоже overflow: auto, то на некоторых экранах табличка не влезет.*/
}

/* ------------ menu -----------------------*/

#navbar li {
	border: 1px solid #DDDDDD;
}

/* ----------- content --------------------*/

.oneuser {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
/*    line-height: 1.42857143;*/
	list-style: none;
    font-size:1.2em;
    color: black;
	cursor: pointer;
}


.onemessage {

	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

/*    line-height: 1.42857143;*/

	font-size: 16px;
	list-style: none;
    
    /*transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;*/
    
    font-size:1.15em;
    
    color: black;
	overflow-x: hidden;
	font-weight: 400;
}

.onemessage.bigmessage {
    font-size:2em;
}

.onemessage.sysmessage {
  color: blue;
  /*font-weight: 600;*/
  
}

.onemessage.private {
	color: #666CCC;
	/*color: #FF4F0A;*/
	/*color: deeppink;*/
}

.onemessage.ng-enter {
/*    color: purple;*/
    /*transition:all linear 0.5s;*/
    font-size: 1.1em;
/*    padding-top:10px;*/
    padding-left: 20px;
/*    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;*/

}

.partials_content {
	padding-top: 20px;
}

.on_click_class {
/*	background-color: #C8EBFF;*/
    background: #ddddde;
}

.mouse_over_class {
/*	background-color: #E1FFFF;*/
    background: #ddddde;
}
/* ------------------------- forms -------------------------*/

#forms {
    padding: 20px 10px;
}

#singleplayer_forms {
	margin: 5px;
	text-align: center;
}

div#messageDiv {
	margin-left: 5px;
	width: 75%;
	font-size: 1.1em;
}

div#singleplayer_message_div, div#text_singleplayer_message_div {
	width: 75%;
	margin-left: 5px;
}


#submitForm{
/*    display:none;*/
}

input#chatText, input#singleplayer_chatText, input#text_singleplayer_chatText, input#sendQuesionText, input#sendAnswer, input#sendComment {
	width: 100%;
}

/*---------------- donate ----------------------*/
#donate {
	text-align: center;
}

#donate_sum {
	text-align: center;
}

#donate h3 {
	color: blue;
}

#donate h4 {
	font-weight: 600;
}

/*---------------------zavalinka---------------------*/

#createGameForm table input{
	width: 100%;
}

#testId {
	width: 98%;
}

#topStringInEditingTable, #topStringInZavalinkaResultWatchingTable,
#topStringInZavalinkaShuffledDefinitionsTable {
	margin-top: 30px;
	font-weight: 600;
}

#definitionChoicingTable tr {
	cursor: pointer;
}

#editUsersDefinitions input, #editUsersDefinitions table tr {
	overflow: auto;
}

/*--------------- send ---------------------------*/
input#sendTopic, input#sendTag1, input#sendTag2 {
	width: 32.8%;
}

/*-------------- footer -------------------------*/
footer {
	background: #999999;
	color: #fff;
	padding: 10px 0 20px 0;
	margin: 5px 0;
	margin: 5px 0;
	margin: 5px 0;
	margin: 5px 0;
	margin: 5px 0;
	width: 100%;
    height: 40px;
/*    position: absolute;*/
    bottom: 0;
    left: 0;
}

footer li {
	float: left;
	padding: 0 20px 0 10px;
	list-style: none;
}

footer a {
	color: #fff;
}

footer p {
        float: right;
}

/*------------*/
