<div id="about" class="container partials_content wrappers_height">
    <div class="row">
        <div class="col-md-12">
            
			<a href = "https://bitbucket.org/fromforest/dchat/issues/new" target = "_blank">Отправить пожелание или отзыв</a>
        </div>
    </div>
</div>