<!-- chat container -->
<div id="chatContainer" class="container-fluid">
    <!--<div class="row">
        <div id="chatTopBar" class="col-md-12">
            <div ng-show="loggedIn">
                <p>Logged in as {{ myName }}. <a href="" ng-click="submitLogout()">Logout</a>
                </p>
            </div>
            <div ng-hide="loggedIn">
                <p>Please log in</p>
            </div>
        </div>
    </div>-->
    <div class="row" id="main">
        <!-- question -->
        <div id="question" class="col-md-4 panel panel-default">
            <div>
                <table align = "center" id = "img_wrapper"> <!-- Таблица ради вертикального выравнивания картинки -->
                    <tr>
                        <td align = "middle"><img ng-src="{{ question.pictureUrl}}" class="demo"></td>
                    </tr>
                </table>
                <p>{{ question.topic}}</p>
                <p id = "comment">{{ question.text}}</p>
                <!--            <a href="#" class="btn btn-default">Read More</a>-->
            </div>
        </div>
        <!-- end question -->
        <!-- messages -->
        <div id="messages" class="col-md-5">

            <div id="wrapper">

                <ul id="allmessages">
                    <li ng-repeat="m in messages" ng-class="getMessageClass(m)" class="onemessage"><span ng-show="showTime">[{{ m.time}}]</span> <span ng-click="setPrivate(m.author)">{{ m.author}}</span>: {{m.text}}</li>
                </ul>

            </div>
            <div class="row" id="forms">
                <!-- <div class="col-md-6 col-md-offset-4"> -->
                <div ng-hide="loggedIn">
                    <form id="loginForm" class="form-inline" ng-submit="submitLogin()">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" ng-model="formName" placeholder="login" maxlength="16"/>
                        </div>
                        <div class="form-group">
                            <label for="password">Pass</label>
                            <input type="password" class="form-control" id="password" ng-model="formPassword" placeholder="password"/>
                        </div>
                        <button type="submit" class="btn btn-default">Login</button>
                    </form>
                </div>
                <div ng-show="loggedIn">
                    <form class="form-inline" id="submitForm" ng-submit="sendMessage()">
                        <div class="checkbox" title = "У последующих сообщений отображать время">
                            <label>
                                <input type="checkbox" id = "isTime" ng-model="showTime">
                            </label>
                        </div>
                        <div class="form-group" id="messageDiv">
                            <input type="text" class="form-control" id="chatText" ng-model="chatText" placeholder="message" maxlength="75"/>
                        </div>
                        <div class="form-group">
                            <button type="submit" id = "submit" class="btn btn-default" ng-focus = "onFocusButtonSubmit()">Submit</button>
                        </div>
                    </form>
                </div>
                <!-- </div> -->
            </div>

        </div>
        <!-- end messages -->
        <!-- users -->
        <div id="users" class="col-md-3">
            <div id = "user_list" class = "panel panel-default">
                <div>
                    <div>
                        <div id="LoginBar">
                            <div ng-show="loggedIn">
                                <p>Logged: {{ myName}}.
                                    <a href="" ng-click="submitLogout()">Выйти</a>
                                </p>
                            </div>
                            <div ng-hide="loggedIn">
                                <p>Please log in</p>
                            </div>
                        </div>
                    </div>
                    <ul id="allUsers">
                        <b class="oneuser">{{ total}}</b>
                        <li ng-repeat="u in users" class="oneuser">
                            <span ng-click="setPrivate(u.name)">{{ u.name}}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div id = "top5_list" class = "panel panel-default">
                <div class = "panel-heading">
                    <h4 class = "text-nowrap panel-title">Топ часа (не турнира)</h4>
                </div>
                <div class = "panel-body">
                    <table class = "table table-bordered table-striped condensed text-center text-nowrap">
                        <tr ng-repeat="stat in current_hour_array"><td>{{stat.user}}</td><td>{{stat.score}}</td></tr>
                    </table>
                </div>
            </div>
        </div>
        <!-- end users -->
    </div>

</div>
<!-- end chat container -->