<div id = "donate" class="container partials_content wrappers_height">
	
	<p><h3>1. Введите сумму доната в рублях:</h3>
	<input id = "donate_sum" align = "center" type="text" ng-model="donateSum" ng-change = "setDonateSums()"></p>

	<br></br>

	<h3>2. Выберите способ оплаты:</h3>
		
	<div class = "row">
		<div class = "col-md-4 panel panel-default" id = "left_donate">
				<div class = "panel-heading">
					<h4>Яндекс.Деньги</h4>
				</div>
				<div class = "panel-body">
					<iframe id = "buttonForYandexMoney" frameborder="0" allowtransparency="true" scrolling="no" src="https://money.yandex.ru/embed/small.xml?account=41001265351958&quickpay=small&yamoney-payment-type=on&button-text=04&button-size=m&button-color=white&targets=%D0%B4%D0%BB%D1%8F+%D0%BF%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D0%B0+MQZ&default-sum=100&successURL=" width="229" height="42"></iframe>
				</div>
		</div>
		
		<div class = "col-md-4 panel panel-default" id = "left_donate">
				<div class = "panel-heading">
					<h4>Карты (Visa, MasterCard, Maestro)</h4>
				</div>
				<div class = "panel-body">
					<iframe id = "buttonForCards" frameborder="0" allowtransparency="true" scrolling="no" src="https://money.yandex.ru/embed/small.xml?account=41001265351958&quickpay=small&any-card-payment-type=on&button-text=04&button-size=m&button-color=white&targets=%D0%B4%D0%BB%D1%8F+%D0%BF%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D0%B0+MQZ&default-sum=100&successURL=" width="229" height="42"></iframe>
				</div>
		</div>

		<div class = "col-md-4 panel panel-default" id = "left_donate">
				<div class = "panel-heading">
					<h4>С мобильного телефона</h4>
				</div>
				<div class = "panel-body">
					<iframe id = "buttonForPhone" frameborder="0" allowtransparency="true" scrolling="no" src="https://money.yandex.ru/embed/small.xml?account=41001265351958&quickpay=small&mobile-payment-type=on&button-text=04&button-size=m&button-color=white&targets=%D0%B4%D0%BB%D1%8F+%D0%BF%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D0%B0+MQZ&default-sum=100&successURL=" width="229" height="42"></iframe>
				</div>
		</div>
		
		<br></br>
		<br></br>
		<p>Другие способы:</p>
		<p>WebMoney: Z221691229966</p>
		<p>Скиньте хотя бы немножко!</p>
	</div> <!-- row -->

</div>