<!-- <div id="sendfile_container" class="container partials_content wrappers_height">
	<input type="file" id="file" name="file" multiple accept="image/*,image/jpeg"/>
	<button ng-click="add()">Add</button>
</div> -->
<div id="sendFileContainer" class="container-fluid partials_content wrappers_height">
	<div class = "row">
		<div class="col-md-6 col-md-offset-3 panel panel-default" align = "center">
			<div class = "panel-heading">
				<h3>Форма отправки вопроса-картинки</h3>
			</div>
			<div class = "panel-body">
				<form class = "form-inline" action="ajax.php?action=sendFile" target = "_blank" method = "post" enctype="multipart/form-data">
					<p><input type="file" name="filename" required multiple accept="image/*,image/jpeg"></p>
					<p>
						<input type="text" class="form-control" id="sendTopic" required name = "topic" placeholder="Введите тему 1" maxlength="100"/>
						<input type="text" class="form-control" id="sendTag1" name = "tag1" placeholder="Введите тему 2" maxlength="100"/>
						<input type="text" class="form-control" id="sendTag2" name = "tag2" placeholder="Введите тему 3" maxlength="100"/>
					</p>
					<p>
						<input type="text" class="form-control" id="sendQuesionText" required name = "questionText" placeholder="Введите текст вопроса" maxlength="100"/>
					</p>
					<p>
						<input type="text" class="form-control" id="sendAnswer" required name = "answer" placeholder="Введите ответ или ответы, разделённые &" maxlength="100">
					</p>
					<p>
						<input type="text" class="form-control" id="sendComment" name = "comment" placeholder="Введите комментарий к ответу" maxlength="100">
					</p>
					<button type="submit" class = "btn btn-default">Отправить вопрос</button>
				</form>
			</div>
			<div ng-hide="loggedIn">
					<form id="sendFile_login_form" class="form-inline" ng-submit="submitLogin()">
						<div class="form-group">
							<label for="name">Name</label>
							<input type="text" class="form-control" id="sendFile_name" ng-model="formName" placeholder="login" maxlength="16"/>
						</div>
						<div class="form-group">
							<label for="password">Pass</label>
							<input type="password" class="form-control" id="sendFile_password" ng-model="formPassword" placeholder="password"/>
						</div>
						<div class="form-group">
							<button type="submit" id = "sendFile_submit" class="btn btn-default">Submit</button>
						</div>
					</form>
			</div> <!-- end loggedIn -->
		</div>
		<div class = "col-md-3" align = "center">
			<div id="sendFileLoginBar">
				<div ng-show="loggedIn">
					<p>Logged: {{myName}}.
						<a href="" ng-click="submitLogout()">Выйти</a>
					</p>
				</div>
				<div ng-hide="loggedIn">
					<p>Please log in</p>
				</div>
			</div>
		</div>
	</div>
</div>