<script src="js/events.js"></script>
<div id="statisticsContainer" class="container">
	<div class = "row">
		<div class = "col-md-3 panel panel-default" id = "left_statistics_menu">
			<div class = "panel-heading">
				<h4>Текущие топы</h4>
			</div>
			<div class = "panel-body">
				<table class = "table condensed text-center">
					<tr><td ng-click="getStatisticsLastTournament()">Последний турнир</td></tr>
					<tr><td ng-click="getStatisticsCurrentHour()">Текущий час</td></tr>
					<tr><td ng-click="getStatisticsPreviousHour()">Предыдущий час</td></tr>
					<tr><td ng-click="getStatisticsCurrentDay()">Текущие сутки</td></tr>
					<tr><td ng-click="getStatisticsPreviousDay()">Предыдущие сутки</td></tr>
					<tr><td ng-click="getStatisticsCurrentMonth()">Текущий месяц</td></tr>
					<tr><td ng-click="getStatisticsPreviousMonth()">Предыдущий месяц</td></tr>
					<tr><td ng-click="getStatisticsCurrentYear()">Текущий год</td></tr>
					<tr><td ng-click="getStatisticsPreviousYear()">Предыдущий год</td></tr>
					<tr><td ng-click="getStatisticsBestHoursCurrentMonth()">Лучшие часы месяца</td></tr>
					<tr><td ng-click="getStatisticsBestHoursCurrentYear()">Лучшие часы года</td></tr>
					<tr><td ng-click="getStatisticsChainsCurrentMonth()">Цепочки месяца</td></tr>
					<tr><td ng-click="getStatisticsChainsCurrentYear()">Цепочки года</td></tr>
					<tr><td ng-click="getStatisticsBestDaysCurrentYear()">Лучшие сутки года</td></tr>
				</table>
			</div>
		</div>
		<div class="col-md-6 panel panel-default" id = "statistics_list">
				<div class = "panel-heading">
					<h4>{{header}}</h4>
				</div>
				<div class = "panel-body">
					<table ng-show = "table1_choiced" class = "table table-bordered table-striped condensed text-center">
						<tr ng-repeat='stat in statistics_array'><td>{{$index+1}}</td><td>{{stat.user}}</td><td>{{stat.score}}</td></tr>
					</table>
					<table ng-hide = "table1_choiced" class = "table table-bordered table-striped condensed text-center">
						<tr ng-repeat='stat in statistics2_array'><td>{{$index+1}}</td><td>{{stat.user}}</td><td>{{stat.score}}</td><td>{{stat.period}}</td></tr>
					</table>
				</div>
		</div>                                       
		<div class="col-md-3 panel panel-default" id = "right_statistics_menu">
			<div class = "panel-heading">
				<h4>Общие топы</h4>
			</div>
			<div class = "panel-body">
				<table class = "table condensed text-center">
					<tr><td ng-click="getStatisticsMQZ()">MQZ</td></tr>
					<tr><td ng-click="getStatisticsTotalScore()">Всего ответов</td></tr>
					<tr><td ng-click="getStatisticsBestHours()">Лучшие часы</td></tr>
					<tr><td ng-click="getStatisticsOnAnyFiftyChallenges()">Пятьдесят подряд</td></tr>			
					<tr><td ng-click="getStatisticsBestDaysTotal()">Лучшие сутки</td></tr>
					<tr><td ng-click="getStatisticsBestMonthsTotal()">Лучшие месяцы</td></tr>
					<tr><td ng-click="getStatisticsBestYears()">Лучшие годы</td></tr>
					<tr><td ng-click="getStatisticsChainsTotal()">Длиннейшие цепочки</td></tr>
				</table>
			</div>
		</div>
	</div>
</div>