<div id="temp1" class="wrappers_height container">
    <div class="row">
        <div id="" class="col-md-12 partials_content">
            
			Уважаемые игроки! Когда количество вопросов разрастётся до 50-100 тысяч, вся статистика будет обнулена!
            
            <p>{{header}}</p>
        </div>
    </div>
</div>