<div id="temp2" class="wrappers_height container">
    <div class="row">
        <div class="col-md-12 partials_content">
            
            <!--{{formOfSex}} контакты.
			
            <input type="text" ng-model="formOfSex">-->
            
            <p>xyz1988@mail.ru</p>
			<p>Skype: hrustyler</p>
			<a href = "http://vk.com/id31206" target = "_blank">Хруст Вконтакте</a>
        </div>
    </div>
</div>