<div id="text_singleplayer_container" class="container-fluid">
	<div class="row" id="text_singleplayer_main">
		<div class = "col-md-3" id = "text_singleplayer_left">
			<div class = "panel panel-default">
				<div class = "panel-heading">
					<h4>Верные ответы / Вопросы</h4>
				</div>
			
				<div class = "panel-body">
					<h1>{{num_answered}} / {{num_asked}}</h1>
				</div>
			</div>
			<div class = "panel panel-default">
				<div class = "panel-heading">
					<h4>Выберите тему</h4>
				</div>
			
				<div class = "panel-body">
					<h4>Тема: {{theme}}</h4>
					<input ng-show="loggedIn" id = 'text_theme_input' type="text" ng-model="theme" ng-enter="inputTheme()"></input>			
				
					<p>{{current_content_type}}</p>
					<h4>Вопросов в теме: {{questions_count}}</h4>
					<div id="LoginBar">
							<div ng-show="loggedIn">
								<p>Logged: {{ myName }}.
									<a href="" ng-click="submitLogout()">Выйти</a>
								</p>
							</div>
							<div ng-hide="loggedIn">
								<p>Please log in</p>
							</div>
					</div>
				</div>
			</div>
		</div>

		<div class = "col-md-5">
			<div class = "panel panel-default" id = "text_singleplayer_question">
				<p>{{ question.topic }}</p>
				<p id = "text_singleplayer_comment">{{ question.text }}</p>
			</div>

			<div class="row" id="text_singleplayer_forms">
			<!-- <div class="col-md-6 col-md-offset-4"> -->
				<div ng-hide="loggedIn">
					<form id="text_singleplayer_login_form" class="form-inline" ng-submit="submitLogin()">
						<div class="form-group">
							<label for="name">Name</label>
							<input type="text" class="form-control" id="text_singleplayer_name" ng-model="formName" placeholder="login" maxlength="16"/>
						</div>
						<div class="form-group">
							<label for="password">Pass</label>
							<input type="password" class="form-control" id="text_singleplayer_password" ng-model="formPassword" placeholder="password"/>
						</div>
						<button type="submit" class="btn btn-default">Login</button>
					</form>
				</div>
				<div ng-show="loggedIn">
					<form class="form-inline" id="text_singleplayer_submit_form" ng-submit="sendRequest()">
						<div class="checkbox" title = "Выдавать вопросы случайно">
							<label>
								<input type="checkbox" id = "isTextRandom" ng-model="randomQuestion"/>
							</label>
						</div>
						<div class="form-group" id="text_singleplayer_message_div">
							<input type="text" class="form-control" id="text_singleplayer_chatText" ng-model = "submitText" placeholder="{{getPlaceholder()}}" maxlength="40"/>
						</div>
						<div class="form-group">
							<button type="submit" id = "text_singleplayer_submit" class="btn btn-default" ng-focus = "onFocusButtonSubmit()">Submit</button>
						</div>
					</form>
				</div>
        <!-- </div> -->
			</div>
		</div> <!-- end center column -->
		<div id = "text_singleplayer_right" class = "col-md-3">
			<div class = "panel panel-default">
				<div class = "panel-heading">
					<h4>Список тем:</h4>
				</div>
			
				<div class = "panel-body">
					<table id = "text_my_table" class = "table table-bordered table-striped condensed text-center">
						<tr id = "text_singleplayer_table" ng-click = "setTheme($index)" ng-mouseenter = "mouseEnter($index)" ng-mouseleave = "mouseLeave($index)" ng-repeat='theme in themes'><td>{{theme.name}}</td></tr>
					</table>
				</div>
			</div>
		</div>
	</div> <!-- end single_main -->
</div> <!-- end singleplayer_container -->
<script src="js/events.js"></script>