<div id = "donate" class="partials_content wrappers_height container-fluid" >
	<div class="row" id="zavalinka_main">

		<div class = "col-md-10" id="zavalinka_left">
			<div class="row" id="zavalinka_forms">
			<!-- <div class="col-md-6 col-md-offset-4"> -->
				<div ng-hide="loggedIn">
					<form id="zavalinka_login_form" class="form-inline" ng-submit="submitLogin()">
						<div class="form-group">
							<label for="name">Name</label>
							<input type="text" class="form-control" id="zavalinka_name" ng-model="formName" placeholder="login" maxlength="16"/>
						</div>
						<div class="form-group">
							<label for="password">Pass</label>
							<input type="password" class="form-control" id="zavalinka_password" ng-model="formPassword" placeholder="password"/>
						</div>
						<div class="form-group">
							<button type="submit" id = "zavalinka_submit" class="btn btn-default">Submit</button>
						</div>
					</form>
				</div> <!-- end loggedIn -->
				
				<div ng-show="loggedIn">
					<div ng-show = "preGameButtonsShow">
						<button id = "createGameButton" ng-click = "getCreateGameForm()" class="btn btn-default">Создать игру</button> </br></br>
						<button id = "joinGameButton" ng-click = "getJoinGameForm()" class="btn btn-default">Присоединиться к текущей игре</button>
					</div>
					
					<div ng-show = "backButtonShow">
						<button ng-click = "backAway()" class="btn btn-default">Назад</button></br></br>
					</div>
					<!--                  ПРИСОЕДИНЕНИЕ или СОЗДАНИЕ ИГРЫ       -->
					<form ng-show = "createGameFormShow" id="createGameForm" ng-submit="createGame()">
						<table id = "zavalinkaCreateGameFormTable" class = "table table-bordered condensed text-center">
							<tr ng-repeat='word in creator_words track by $index'>
								<td>{{$index+1}}</td>
								<td>
									<input type = "text" required placeholder = "слово" ng-model = "creator_words[$index]"/>
								</td>
								<td>
									<input type = "text" required placeholder = "настоящее определение" ng-model = "true_definitions[$index]"/>
								<td>
									<input type = "text" required placeholder = "моя версия" ng-model = "creator_definitions[$index]"/>
								</td>							
							</tr>
						</table>
						<div class="form-group form-inline">
							<button ng-click = "addWord()" class = "btn btn-default">Добавить слово</button>
							<button ng-click = "excludeWord()" class = "btn btn-default">Убрать слово</button>
							<input type="text" class="form-control" id="create_room_name" ng-model="roomName" required placeholder="Уникальное имя комнаты"/>
							<button type="submit" id = "submitCreateGameForm" class="btn btn-default">Погнали!</button>
						</div>
					</form>
					
					<form ng-show = "joinGameFormShow" id = "joinGameForm" ng-submit = "joinGame()">
						<div class="form-group form-inline">
							<input type="text" class="form-control" ng-model="roomName" required placeholder="Уникальное имя комнаты"/>
							<button type="submit" id = "submitJoinGameForm" class="btn btn-default">Войти!</button>
						</div>
					</form>
					
					<!--               ПРИЁМ ИЛИ ОТПРАВКА ОПРЕДЕЛЕНИЙ             -->
					<form ng-show = "isCreatorEditing" id="editUsersDefinitions" ng-submit="startGame()">
						<table id = "zavalinkaEditFormTable" class = "table table-bordered condensed text-center table-striped">
							<tr id = "topStringInEditingTable"><td>*</td><td>Автор определения</td><td>Слово</td><td>Определение</td> </tr>
							<tr ng-repeat='definition in definitions_for_creator_editing track by $index'>
								<td>{{$index+1}}</td>
								<td>{{definition.user}}</td>
								<td>{{definition.word}}</td>
								<td>
									<textarea class = "form-control" type = "text" required ng-model = "definition.definition"/>
								</td>							
							</tr>
						</table>
						<div class="form-group form-inline">
							<button type="submit" id = "submitEditGameForm" class="btn btn-default">Всё получено и отредактировано, жму :)</button>
						</div>
					</form>
					<form ng-show = "notCreatorEditing" id="inputUsersDefinitions" ng-submit="sendUserDefinitions()">
						<table id = "zavalinkaInputFormTable" class = "table table-bordered condensed text-center table-striped">
							<tr ng-repeat='word in words track by $index'>
								<td>{{$index+1}}</td>
								<td>{{word}}</td>
								<td>
									<input class = "form-control" type = "text" required placeholder="Впишите правдоподобное определение" ng-model= "user_definitions[$index]"/>
								</td>							
							</tr>
						</table>
						<div class="form-group form-inline">
							<button type="submit" id = "submitInputGameForm" class="btn btn-default">Отправить определения</button>
						</div>
					</form>
					<!---------------------- ХОД САМОЙ ИГРЫ --------------------------------->
					
						<form ng-show = "isCreatorChoiceWaiting" class = "panel panel-default" id="waitUsersChoices" ng-submit="continueGame()">
							<div class = "panel-heading">
								<h3>{{current_word}}</h3>
							</div>
							<div id = "testId" class = "row panel-body">
								<div class = "col-md-9">
									<table id = "zavalinkaShuffledDefinitionsTable" class = "table table-bordered condensed text-center table-striped">
										<tr id = "topStringInZavalinkaShuffledDefinitionsTable"><td>*</td><td>Определение</td> </tr>
										<tr ng-repeat='definition in shuffled_definitions track by $index'>
											<td>{{$index+1}}</td>
											<td>{{definition}}</td>
										</tr>
									</table>
								</div>
								<div class = "col-md-3">
									<table id="zavalinkaWaitUsersChoicesTable"  class = "table table-bordered condensed text-center table-striped">
										<tr id = "topStringInWaitUsersChoicesTable"><td>Игрок</td><td>Проголосовал</td></tr>
										<tr ng-repeat='choice in choices track by $index'>
											<td>{{choice.name}}</td>
											<td><span ng-show = "choice.choiced">✔</span></td>
										</tr>
									</table>
								</div>
							</div> <!-- row -->
							<div class="form-group form-inline">
								<button type="submit" id = "submitWaitChoiceGameForm" class="btn btn-default">Продолжить</button>
							</div>
						</form><!-- isCreatorChoiceWaiting end -->
						
						<!--resultWatching -->
						<div ng-show = "resultWatching" class = "panel panel-default"> 
							<div class = "panel-heading">
								<h3>{{current_word}}</h3>
							</div>
							<div class = "panel-body">
								
									<table id = "zavalinkaResultWatchingTable" class = "table table-bordered condensed text-center table-striped">
										<tr id = "topStringInZavalinkaResultWatchingTable"><td>*</td><td>Автор</td><td>Определение</td><td>Проголосовали</td><td>Всего очков</td> </tr>
										<tr ng-repeat='definition in choice_results track by $index'>
											<td>{{$index+1}}</td>
											<td>{{definition.author}}</td>
											<td>{{definition.definition}}</td>
											<td>{{definition.choiced_users}}</td>
											<td>{{definition.points}}</td>
										</tr>
									</table>
									
							</div> 
						</div>
						<div ng-show = "isCreatorResultWatching" ng-click = "continueGame()" class="form-group form-inline">
								<button class="btn btn-default">Продолжить</button>
						</div>
						<!--resultWatching end -->
						
						<!--userChoicing -->
						<div ng-show = "notCreatorChoicing" class = "panel panel-default"> 
							<div class = "panel-heading">
								<h3>{{current_word}}</h3>
							</div>
							<div class = "panel-body">
								<table id = "definitionChoicingTable" class = "table table-bordered table-striped condensed text-center">
									<tr id = "definitionString" ng-click = "submitChoice($index)" ng-mouseenter = "mouseEnter($index)" ng-mouseleave = "mouseLeave($index)" ng-repeat='definition in shuffled_definitions track by $index'><td>{{definition}}</td></tr>
								</table>
							</div> <!-- row -->
						</div>
						<div ng-show = "notCreatorChoicedAndWaiting">
							<table id = "afterDefinitionChoicingTable" class = "table table-bordered table-striped condensed text-center">
									<tr id = "definitionString" ng-repeat='definition in shuffled_definitions track by $index'><td>{{definition}}</td></tr>
								</table>
							<h2>Отлично! Теперь ждём и подбадриваем других :).</h2>
						</div>
						<!--userChoicing end -->
					<!--ход самой игры end-->
						<div ng-show = "endGameShow">
							<h2>Отличная была завалинка, просто зашибись!</h2>
						</div>
				</div>
			</div>
		</div> <!-- end center column -->
		
		<div id = "zavalinka_right" class = "col-md-2 panel panel-default">
			<div id="zavalinkaLoginBar">
				<div ng-show="loggedIn">
					<p>Logged: {{myName}}.
						<a href="" ng-click="submitLogout()">Выйти</a>
					</p>
				</div>
				<div ng-hide="loggedIn">
					<p>Please log in</p>
				</div>
			</div>
			<div ng-show = "joined">
				<div class = "panel-heading">
					<h4>Комната: {{roomName}}<h4>
					<h4>Список игроков:</h4>
				</div>
				<div class = "panel-body">
					<ul id="zavalinkaUsers">
                        <li ng-repeat="user in zavalinka_users track by $index">
                            {{user}}
                        </li>
                    </ul>
				</div>
			</div>
		</div>
	</div> <!-- end zavalinka_main -->
</div>